<app-carousal></app-carousal>

<section class="section-3">
  <h1 class="text-center mt-5 font-weight-bold wow fadeInDown">Order Now</h1>
  <div class="container py-4">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 col-lg-3">
        <div class="card-container wow fadeInLeft" >
          <div class="content   d-flex justify-content-center align-items-center flex-column">
            <a routerLink="/categories">
                <img class="content-image" src="../../assets/imgs/hen.png">
              </a>
                <p class="p-2 text-lg font-weight-bold">Polutry</p>  
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 col-lg-3">
        <div class="card-container wow fadeInLeft" data-wow-delay="0.2s" >
          <div class="content d-flex justify-content-center align-items-center  flex-column">
            <a routerLink="/categories">
              <img class="content-image" src="../../assets/imgs/goat.png">
            </a>
              <p class="p-2 text-lg font-weight-bold">Mutton</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 col-lg-3">
        <div class="card-container wow fadeInLeft" data-wow-delay="0.4s" >
          <div class="content d-flex justify-content-center align-items-center  flex-column">
            <a routerLink="/categories">
              <img class="content-image" src="../../assets/imgs/fish-icon.png">
            </a>
              <p class="p-2 text-lg font-weight-bold">Fish</p> 
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 col-lg-3">
        <div class="card-container wow fadeInLeft"  data-wow-delay="0.6s">
          <div class="content d-flex justify-content-center align-items-center  flex-column">
            <a routerLink="/categories">
              <img class="content-image" src="../../assets/imgs/prawns-icon.png">
            </a>
              <p class="p-2 text-lg font-weight-bold">Prawns</p>
              
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-4" id="sec4">
  <h1 class="text-center mt-5 font-weight-bold wow fadeInDown">About Us</h1>
  <div class="container py-5" style="background: white;">
      <div class="row py-3">
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 wow fadeInLeft">
              <h3>Quality Of Meat</h3>
              <p>Vivamus sagittis lacuson augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum ultricies vehicula.</p>
              <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient monte nascetur ultricies vehicula.</p>
              <p>Curabitur blandit matti tempus porttitor. Donec id elit non mi porta ut gravida at eget metus. Consectetur adipiscing elit ultricies vehicula.</p>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 d-flex  justify-content-center align-items-center wow fadeInRight">
              
              <img src="../../assets/imgs/fish5.jpg" width="90%" height="90%">
          </div>
      </div>
      <div class="row py-3">
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 d-flex  justify-content-center align-items-center wow fadeInLeft">
              <img src="../../assets/imgs/chicken5.jpg" width="90%" height="90%">
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 wow fadeInRight">
              <h2>Easy To Cook</h2>
              <p>Vivamus sagittis lacuson augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum ultricies vehicula.</p>
              <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient monte nascetur ultricies vehicula.</p>
              <p>Curabitur blandit matti tempus porttitor. Donec id elit non mi porta ut gravida at eget metus. Consectetur adipiscing elit ultricies vehicula.</p>
          </div>
      </div>
  
  <div class="row py-3">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 wow fadeInLeft">
          <h3>Stress-Free Delivery</h3>
          <p>Vivamus sagittis lacuson augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum ultricies vehicula.</p>
          <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient monte nascetur ultricies vehicula.</p>
          <p>Curabitur blandit matti tempus porttitor. Donec id elit non mi porta ut gravida at eget metus. Consectetur adipiscing elit ultricies vehicula.</p>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 d-flex  justify-content-center align-items-center wow fadeInRight">
          <img src="../../assets/imgs/turkey-hen-569069_1920.jpg" width="90%" height="90%">
      </div>
  </div>
</div>
</section>
<!-- <app-contact-us></app-contact-us> -->
<div>
  <h1 class="text-center mx-5  font-weight-bold wow fadeInDown">Contact Us</h1>
  <div class="container-fluid">
    <div class="row d-flex justify-content-center align-item-center">
      <div class="col-10 col-md-3 col-lg-3 col-sm-3 mx-3 mt-5" style="box-shadow: 0px 0px 5px rgba(0,0,0,0.2);padding: 2%;">
        <div class="row">
          <div class="col-3 col-md-3 col-lg-3 col-sm-3" style="display: flex;justify-content: flex-end;">
            <i class="fas fa-phone-square-alt" style="font-size:30px;"></i>
          </div>
          <div class="col-9 col-md-9 col-lg-9 col-sm-9 ">
            <h4>Mobile Number</h4>
            <h6 style="color: rgb(114, 108, 108);">073311 17170</h6>
            <h6 style="color: rgb(114, 108, 108);">073311 17170</h6>
          </div>
        </div>
      </div>
      <div class="col-10 col-md-3 col-lg-3 col-sm-3 mx-3 mt-5" style="box-shadow: 0px 0px 5px rgba(0,0,0,0.2);padding: 2%;">
        <div class="row">
          <div class="col-2 col-md-2 col-lg-2 col-sm-2" style="display: flex;justify-content: flex-end;">
            <i class="fas fa-envelope" style="font-size:30px;"></i>
          </div>
          <div class="col-10 col-md-10 col-lg-10 col-sm-10 ">
            <h4>Mail</h4>
            <h6 style="color: rgb(114, 108, 108);">meatmanHyd@gmail.com</h6>
            <h6 style="color: rgb(114, 108, 108);">sreekanth@husGlobal.com</h6>
          </div>
        </div>
      </div>
      
      <div class="col-10 col-md-3 col-lg-3 col-sm-3 mx-3 mt-5" style="box-shadow: 0px 0px 5px rgba(0,0,0,0.2);padding: 2%;">
        <div class="row">
          <div class="col-2 col-md-2 col-lg-2 col-sm-2" style="display: flex;justify-content: flex-end;">
            <i class="fas fa-map-marker-alt" style="font-size:30px;"></i>
          </div>
          <div class="col-10 col-md-10 col-lg-10 col-sm-10 ">
            <h4>Our Location</h4>
            <p style="color: rgb(114, 108, 108);font-size: 12px;">SAURA INDUSTRIAL & INFRASTRUCTURAL CORPORATION
              PLOT-171, LAKE VIEW ENCLAVE,
              HYDERABAD, TS 500083
              IN</p>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
<section class="mt-5">
  <div id="outer">
    <div id="inner">
        <img width="250" height="100"  src="assets/imgs/MHUBPNG.png">
        <div class="container ml-4 mr-4 mt-4" style="width:60%;text-align: center;font-size: 12px;font-weight: 100;"><p>Vivamus sagittis lacuson augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum ultricies vehicula</p></div>
    </div>
</div>
</section>