<div style="text-align:center">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="caption">
          <h1 class="display1">Welcome to</h1>
            <h3 class="display2">The MeatHub</h3>
          </div>
          <img src="../../assets/imgs/chicken5.jpg">
        </ng-template>  
      <ng-template carouselSlide>
        <div class="caption">
          <h1 class="display1">This is where You Get</h1>
            <h3 class="display2">High Quality Farm Chicken</h3>
          </div>
          <img src="../../assets/imgs/chicken6.jpg">
        </ng-template>  
      <ng-template carouselSlide>
        <div class="caption">
          <h1 class="display1">Welcome to</h1>
            <h3 class="display2">High Quality Farm Chicken</h3>
          </div>
          <img src="../../assets/imgs/turkey-hen-569069_1920.jpg">
        </ng-template> 
      <ng-template carouselSlide>
        <div class="caption">
          <h1 class="display1">Welcome to</h1>
            <h3 class="display2">High Quality Farm Chicken</h3>
          </div>
          <img src="../../assets/imgs/grill-1494192_1280.jpg">
        </ng-template>    
    </owl-carousel-o>
  </div>