<div class="container empty" *ngIf="!cart?.length">
  <i class="fas fa-shopping-cart"></i> 
  <h4 class="text-center"> Cart is empty</h4>
</div>
<ng-container  *ngIf="cart?.length" >
  <div class="container mt-5 p-0" >
    <table id="cart" class="table table-hover table-condensed">
              <thead>
              <tr>
                <th style="width:50%">Product and Delivary Details</th>
                <th style="width:10%">Price /kg</th>
                <th style="width:8%">Quantity</th>
                <th style="width:22%" class="text-center">Subtotal</th>
                <th style="width:10%">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of cart">
                <td data-th="Product">
                  <div class="row">
                    <div class="col-sm-10">
                      <h4 class="nomargin text-capitalize">{{item.name}}</h4>
                      <small>{{item.date}}, {{item.time}}</small>
                    </div>
                  </div>
                </td>
                <td data-th="Price">{{item.rate_per_kg}}</td>
                <td data-th="Quantity">{{item.weight}}</td>
                <td data-th="Subtotal" class="text-center">{{item.rate_per_kg*item.weight}}</td>
                <td class="actions">
                  <button class="btn btn-danger btn-sm" (click)=deleteCart(item)><i class="fa fa-refresh">Delete</i></button>								
                </td>
              </tr>
                      </tbody>
                      </table>
                      </div>
                     <div class="container">
                         <div class="row bg-light d-flex justify-content-center">
                              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                  <mat-vertical-stepper #stepper class="bg-light">
                                    <mat-step >
                                      <ng-template matStepLabel><h4 class="text-dark">Total Amount</h4></ng-template>
                                                  <table  class="table bg-light text-center table-hover table-condensed">
                                                      <tbody>
                                                          <tr>
                                                              <td class="text-left">Amount</td>
                                                              <td class="text-right">{{totalAmount}}</td>
                                                          </tr>
                                                          <tr>
                                                              <td class="text-left">Delivary Charges</td>
                                                              <td class="text-right">{{delivaryCharges}}</td>
                                                          </tr>
                                                          <tr>
                                                              <td class="text-left">Internet Service Charges</td>
                                                              <td class="text-right">{{internetServiceCharges}}</td>
                                                          </tr>
                                                          <tr>
                                                              <td class="text-left">GST</td>
                                                              <td class="text-right">{{gst}}</td>
                                                          </tr>
                                                          <tr>
                                                              <td class="text-left"><h3>Total Amount</h3></td>
                                                              <td class="text-right"><h3>{{amount}}</h3></td>
                                                          </tr>
                                                      </tbody>
                                      </table>
                                  </mat-step>
                                    <mat-step >
                                      <ng-template matStepLabel><h4 class="text-dark">Please provide delivery details </h4></ng-template>
                                                  <form [formGroup]="deliveryForm" >
                                                    <div class="form-group">
                                                      <label>Please Seletc a Delivary Date:</label>
                                                      <select (change)="timeSlot()" formControlName="date"class="form-control" >
                                                        <option selected disabled>Select a date</option>
                                                        <option *ngFor="let i of dates" value="{{i}}">{{i}}</option>
                                                      </select>
                                                    </div>
                                                    <div class="form-group">
                                                      <label>Please Select a Time Slot:</label>
                                                      <select formControlName="time" class="form-control">
                                                        <option selected disabled>Select a time Slot</option>
                                                       <option *ngFor = "let i of timeslots" value="{{i}}">{{i}}</option>
                                                      </select>
                                                    </div>
                                                  </form>
                                  </mat-step>
                                      
                                      <mat-step>
                                          <ng-template matStepLabel><h4 class="text-dark">Checkout</h4></ng-template>
                                                  <form [formGroup]="formGroup" class="bg-light" (ngSubmit)="createOrder()" autocomplete="on" >
                                                      <div class="form-group">
                                                        <label>Name:</label>
                                                        <input type="text"  formControlName="name" class="form-control">
                                                        <small class="error" *ngIf="p.name.errors && (p.name.dirty || p.name.touched)" >Please enter Valid Name</small>
                                                      </div>
                                                      <div class="form-group">
                                                        <label>Email:<small>(An invoice will be sent to this email)</small></label>
                                                        <input type="email" formControlName="email" class="form-control" >
                                                        <small class="error" *ngIf="p.email.errors && (p.email.dirty || p.email.touched)" >Please enter valid Email</small>
                                                      </div>
                                                      <div class="form-group">
                                                        <label>Mobile Number:</label>
                                                        <input type="text" formControlName="mobile" class="form-control">
                                                      </div>
                                                      <div class="form-group">
                                                        <label>Alternate Phone Number</label>
                                                        <input type="text" formControlName="mobile_alt" class="form-control" maxlength="10">
                                                        <small class="error" *ngIf="p.mobile_alt.errors && (p.mobile_alt.dirty || p.mobile_alt.touched)" >Please enter Valid Number</small>
                                                      </div>
                                                      <div class="form-group">
                                                          <label>Address</label>
                                                          <select  (change)="routeToAddress()" class="form-control" formControlName="address" >
                                                              <option *ngFor="let i of addresses" value="{{i.address_name}}"><h4>{{i.address_name}}</h4><br><small>{{i.house_no}} , {{i.area_locality}},{{i.landmark}}</small></option>
                                                              <option value="add">Add a New Address</option>
                                                            </select>
                                                        </div>
                                                      <button type="submit" class="btn btn-primary">Proceed to Payment</button>
                                                    </form>
                                      </mat-step>
                                      
                                    </mat-vertical-stepper>
                              </div>
                         </div>
                     </div>
</ng-container>
